<span class="align-self-center d-inline-block me-2 rounded-circle @BgClass" title="@Title"></span>

@code {
    [Parameter] public string? BgClass { get; set; }
    [Parameter] public string? Title { get; set; }
}
